
h1 {
  text-align: center;
}
/*Row {
  border: 1px solid #adadad;
}*/

  .main {
  background: #FFFFFF;
  margin: 40px auto !important;
  float: none !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-radius: 5px;
}

.close {
  cursor: pointer !important;
  line-height: 2 !important;
}

.p-icon {
  margin: 0 5px;
  float: right;
}

/*.collection-item {
  background: #fff176;
}*/

.hidetask {
  display: none;
}
